<div class="row">
  <div class="col">
    <div class="pagelabel">
      <div class="row" style="margin-bottom: 2px;">
        <div class="col-sm-6">
          <ol class="pagetitle" style="margin-bottom: 0rem;">অফিস অনুসারে স্তর সমূহ</ol>
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-2">

        </div>
      </div>
    </div>
    <div>
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-md-12 mx-auto">
              <div class="shadow">
                <form #officeLevelForm="ngForm" (ngSubmit)="saveOfficeLevel()">

                    <table>
                      <thead>
                        <tr>
                          <th>মন্ত্রণালয়</th>
                          <th>ভৌগলিক স্তর</th>
                          <th>অফিস স্তর</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <select id="ministryId" name="ministryId" [(ngModel)]="model.ministryId" (change)="loadOfficeLevels()"
                              class="form-control" required >
                              <option value="">- Please Select -</option>
                              <option *ngFor="let ministry of ministries" [value]="ministry.id">{{ministry.name}}</option>
                            </select>
                          </td>
                          <td>
                            <select id="geoLevel" name="geoLevel" [(ngModel)]="model.geoLevel"
                              class="form-control" required >
                              <option value="">- নির্বাচন করুন -</option>
                              <option [value]='1'>কেন্দ্রীয় পর্যায়</option>
                              <option [value]='2'>বিভাগীয় পর্যায়</option>
                              <option [value]='3'>জেলা পর্যায়</option>
                              <option [value]='4'>উপজেলা পর্যায়</option>
                              <option [value]='5'>ইউনিয়ন পর্যায়</option>
                            </select>
                          </td>
                          <td>
                            <input type="text" id="name" name="name" [(ngModel)]="model.name"
                            class="form-control" placeholder="" required />
                          </td>
                          <td>
                            <button type="submit" [disabled]="!officeLevelForm.valid" class="btn btn-primary" > সংরক্ষন </button>
                            <button type="button" *ngIf="model.nane" [disabled]="!officeLevelForm.valid" class="btn btn-light" (click)="model = {}" > বাতিল </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10" offset="2">
    <p-table [value]="officeLevels"  styleClass="p-datatable-sm p-datatable-striped">
      <ng-template pTemplate="header">
          <tr>
            <th>মন্ত্রণালয়</th>
            <th>অফিস স্তর</th>
            <th>ভৌগলিক স্তর</th>
            <th></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-level>
          <tr>
            <td>{{level.ministryName}}</td>
            <td>{{level.name}}</td>
            <td>{{elaborateGeoLevel(level.geoLevel)}}</td>
            <td>
              <span (click)="model = level" > <i class="fa fa-edit"></i> </span>
               <!-- | <span (click)="model = level" > <i class="fa fa-trash"></i> </span> -->
            </td>
          </tr>
      </ng-template>
  </p-table>
  </div>
</div>
