<!-- <app-header
  [navbarBrandRouterLink]="['/home']"
  [fixed]="true"
  [navbarBrandFull]=""
  [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'eSheba Logo'}"
  [sidebarToggler]="''"
  [asideMenuToggler]="'lg'">
  <strong>ডিসি-সেবা সিস্টেম</strong>
</app-header> -->

<div class="app-body">

  <main class="main d-flex ">
    <div class="container"  style="background-color: snow;">
      <div class="row">
        <div class="col-md-12 text-center p-2 box-shadow" style="background-color:rgba(99, 142, 2, 0.3); border-bottom: 1px solid #CCC;"> <!--rgba(243, 241, 223, 0.8)-->
          <h1>My Store Apps</h1> [<strong style="color: red;">Training Mode</strong>]
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mx-auto text-center p-4">
          <img src="./assets/img/logo.png" >
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mx-auto p-2 rounded" style="background-color: rgba(99, 142, 2, 0.4);">
          <tabset>
            <tab heading="ইউজার আইডি">
              <form #loginForm="ngForm" (ngSubmit)="login()" >
                <!-- <h1>ইউজার আইডি</h1>
                <p class="text-muted">Sign In to your account</p> -->
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" name="Username" placeholder="ইউজার আইডি" [(ngModel)]="model.Username" required>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" name="Password" placeholder="পাসওয়ার্ড" [(ngModel)]="model.Password" required>
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="submit" [disabled]="!loginForm.valid || isLoginProgress" class="btn btn-primary px-4">
                      {{(isLoginProgress==true)? "অনুগ্রহ করে অপেক্ষা করুণ ...":"প্রবেশ"}}
                    </button>
                  </div>
                  <!-- <div class="col-6 text-right">
                    <button type="button" class="btn btn-link px-0">Forgot password?</button>
                  </div> -->
                </div>
              </form>
            </tab>
            <tab heading="পাসওয়ার্ড রিসেট">

            </tab>
          </tabset>
          <!-- <div class="card-group">
            <div class="card p-4">
              <div class="card-header">test</div>
              <div class="card-body">


              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-xl-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>

                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>

    </div>
    <!-- <div id="page_bottom">
      <div class="row">
        <div class="col text-center">
          <span class="ml-auto">বাস্তবায়নেঃ <a href="http://jessore.gov.bd/">জেলা প্রশাসন, যশোর</a></span>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <span class="ml-auto">কারিগরি সহযোগিতায়ঃ <a href="http://doict.jessore.gov.bd/">
            তথ্য ও যোগাযোগ প্রযুক্তি অধিদপ্তর
          </a></span>
        </div>
      </div>
    </div> -->
  </main>
  <footer class="fixed-bottom">
    <div class="row" style="background-color:rgba(99, 142, 2, 0.1);
        border-top: 1px solid #999; padding:5px;">
      <div class="col col-md-6" style="text-align: left; font-size:18px;">
        <img src="./assets/img/jashore-logo.jpg" width="30" height="30" class="d-inline-block align-top rounded" alt="">
        <span style="padding-left:5px">জেলা প্রশাসন, যশোর</span>
      </div>
      <div class="col col-md-6 align-text-bottom" style="text-align:right; font-size:18px;">
        কারিগরি সহযোগিতায়ঃ
        <img src="./assets/img/doict-logo.png" height="30" class="d-inline-block align-top rounded" alt="">
        যশোর
      </div>
    </div>
  </footer>
</div>
