.app-body {
  background-color: white;
  background-image: url('../../../assets/dc_office_photo.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, 0.2);
}
$card-border-color: white;
