<div class="container">
  <div class="row p-2">
    <div class="col-md-0"></div>
    <div class="col-md-12">
      <carousel [isAnimated]="true">
        <slide>
          <img src="../../../../assets/dc_office_photo.png" alt="first slide" style="display: block; width: 100%;">
          <!-- <div class="container" style="height: 500px; text-align: center;">
            <div class="d-flex align-items-center">
                <div class="box">
                  <h2>ডিসি সেবা ব্যবস্থাপনা</h2>
                </div>
            </div>
          </div> -->
          <div class="carousel-caption d-none d-md-block">
            <h1 style="color:rgb(170, 24, 5); font-weight: bold;">দেওয়ানী মামলা ব্যবস্থাপনা</h1>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </slide>
        <slide>
          <img src="../../../../assets/dc_office_photo.png" alt="second slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h1 style="color:rgb(74, 131, 20); font-weight: bold;">স্থায়ী সম্পদ ব্যবস্থাপনা</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </slide>
        <slide>
          <img src="../../../../assets/dc_office_photo.png" alt="third slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h1 style="color:darkblue; font-weight: bold;">ইনভেন্টরি ব্যবস্থাপনা</h1>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </slide>
        <slide>
          <img src="../../../../assets/dc_office_photo.png" alt="third slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h1 style="color:rgb(133, 6, 116); font-weight: bold;">কোভিড-১৯ কোয়ারান্টিন ব্যবস্থাপনা</h1>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </slide>


      </carousel>


    </div>
    <div class="col-md-0"></div>
  </div>
</div>


