<div class="row">
  <div class="col-md-2" style="text-align: center;">
    <img src="{{this.baseApiUrl+'profile-pics/'+this.authService.decodedToken?.PhotoUrl}}" class="img-avatar1 mt-3" height="40" alt="user's photo"/>
  </div>
  <div class="col-md-10 d-md-down-none" style="text-align: left; font-size: 14px; width: auto;">
    <strong>{{userName}}</strong>
    <div style="text-align: left; font-size: 12px;">{{userRole}}, {{officeBranch}}</div>
    <div style="text-align: left; font-size: 12px;">
      {{officeName}}
    </div>
  </div>
</div>
