<div class="row">
  <div class="col-md-2" style="text-align: center;">
    <img src="{{this.baseApiUrl+this.authService.decodedToken?.photoUrl}}" class="mt-1" height="50" alt="user's photo"/>
  </div>
  <div class="col-md-10 d-md-down-none" style="text-align: right; font-size: 14px; width: auto;">
    <strong>{{userName}}</strong>
    <div style="text-align: right; font-size: 12px;">{{userRole}}, {{officeBranch}}</div>
    <div style="text-align: right; font-size: 12px;">
      {{officeName}}
    </div>
  </div>
</div>
