<div class="row">
  <div class="col-md-10 mx-auto">
    <img src="{{photoUrl}}" class="img-avatar mt-2" height="150" alt="user's photo"/>
  </div>
</div>
<div class="row pt-1">
  <div class="col-md-10 d-md-down-none  mx-auto">
    <strong>{{userName}}</strong><br/>
    {{userInfo?.designation}}
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-10 d-md-down-none  mx-auto">
    <span >{{userInfo?.phone}}</span><br/>
    <span style="font-family: 'Times New Roman', Times, serif;">{{userInfo?.email}}</span>
  </div>
</div>
