<table class="table table-bordered table-responsive">
  <tbody>
    <tr>
      <th class="control-label text-right">নাম (বাংলা)</th>
      <td class="control-label ">{{profileInfo.knownAsBangla}}</td>
      <th class="control-label  text-right">নাম (ইংরেজি)</th>
      <td class="control-label ">{{profileInfo.knownAs}}</td>
  </tr>
  <tr>
      <th class="control-label text-right">পিতার নাম (বাংলা)</th>
      <td class="control-label ">{{profileInfo.fatherNameBangla}}</td>
      <th class="control-label  text-right">পিতার নাম (ইংরেজি)</th>
      <td class="control-label ">{{profileInfo.fatherName}}</td>
  </tr>
  <tr>
      <th class="control-label text-right">মাতার নাম (বাংলা)</th>
      <td class="control-label ">{{profileInfo.motherNameBangla}}</td>
      <th class="control-label  text-right">মাতার নাম (ইংরেজি)</th>
      <td class="control-label ">{{profileInfo.motherName}}</td>
  </tr>
  <tr>
      <th class="control-label text-right">জন্ম তারিখ</th>
      <td class="control-label ">{{profileInfo.dateOfBirth|date}}</td>
      <th class="control-label  text-right">পরিচয়পত্র নম্বর</th>
      <td class="control-label ">{{profileInfo.nid}}</td>
  </tr>
  <tr>
      <th class="control-label  text-right"> লিঙ্গ </th>
      <td class="control-label ">{{profileInfo.gender}}</td>
      <th class="control-label  text-right"> ধর্ম </th>
      <td class="control-label ">{{profileInfo.religion}}</td>
  </tr>
  <tr>
      <th class="control-label  text-right">রক্তের গ্রুপ</th>
      <td class="control-label ">{{profileInfo.bloodGroup}}</td>
      <th class="control-label  text-right">বৈবাহিক অবস্থা</th>
      <td class="control-label ">{{profileInfo.maritalStatus}}</td>
  </tr>
  <tr>
      <th class="control-label  text-right">ব্যক্তিগত ই-মেইল</th>
      <td class="control-label ">{{profileInfo.email}}</td>
      <th class="control-label  text-right">ব্যক্তিগত মোবাইল নম্বর</th>
      <td class="control-label ">{{profileInfo.phone}}</td>
  </tr>
  <!-- <tr>
    <th class="control-label text-right">বিকল্প মোবাইল নম্বর</th>
    <td class="control-label "></td>
    <th class="control-label  text-right">লগইন নেম</th>
    <td class="control-label ">engrnayan</td>
  </tr> -->
</tbody>
</table>
