<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 mx-auto">
        <div class="shadow">
          <form #districtForm="ngForm" (ngSubmit)="saveDistrict()">
            <div class="row">
              <div class="col-md-3 input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Div</span>
                </div>
                <select id="parentCode" name="parentCode" [(ngModel)]="model.parentCode" (change)="onDivisionChange()">
                  <option value="all">- All -</option>
                  <option *ngFor="let division of divisions" [value]="division.code"
                  [selected]="division.code == model.parentCode"
                  >{{division.name}}</option>
                </select>
                <!-- <p-dropdown required [options]="divisions" id="parentcode" name="parentcode" [(ngModel)]="model.parentcode" [filter]="true"></p-dropdown> -->
                <!-- <input type="text" id="parentcode" name="parentcode" [(ngModel)]="model.parentcode"
                  class="form-control" placeholder="" required /> -->
              </div>
              <div class="col-md-3 input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Code</span>
                </div>
                <input type="text" id="code" name="code" [(ngModel)]="model.code"
                  class="form-control" placeholder="" required />
              </div>
              <div class="col-md-4 input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">নাম</span>
                </div>
                <input type="text" id="name" name="name" [(ngModel)]="model.name"
                  class="form-control" placeholder="" required />
              </div>
              <div class="col-md-2 input-group form-group">
                <div class="input-group-prepend">
                  <button type="submit" pButton [disabled]="!districtForm.valid" label='সংরক্ষন' icon="pi pi-check" iconPos="right" class="p-button-sm" ></button>
                </div>
              </div>
            </div>

          </form>
        </div>
    </div>
  </div>
</div>
