<div class="animated fadeIn">
  <!-- <div class="row">
    <div class="col-md-12"> -->
        <div class="shadow" style="padding-top: 10px;">
          <form #divisionForm="ngForm" (ngSubmit)="saveDivision()">
            <div class="row">
              <div class="col-md-4 input-group form-group">

                <div class="input-group-prepend">
                  <span class="input-group-text">বিভাগের কোড</span>
                </div>
                <input type="text" id="code" name="code" [(ngModel)]="model.code"
                  class="form-control" placeholder="" required />

              </div>
              <div class="col-md-6 input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">বিভাগের নাম</span>
                </div>
                <input type="text" id="name" name="name" [(ngModel)]="model.name"
                  class="form-control" placeholder="" required />
              </div>
              <div class="col-md-2 input-group form-group" style="text-align: center;">
                <button type="submit" [disabled]="!divisionForm.valid" class="btn btn-primary" >সংরক্ষন</button>
                <button type="button"*ngIf="model.id" class="btn btn-light" (click)="model={}" >বাতিল</button>
              </div>
            </div>

          </form>
        </div>
    <!-- </div>
  </div> -->
</div>
