// Here you can add other styles
.pagelabel{
  background-color: rgba(255, 255, 255, 0.849);
  padding: 2px;
  border-bottom: 1px solid #e2ebe9bd;
  margin-bottom: 1px;
 }
.pagetitle{
   padding: 7px 10px;
   margin-bottom: 0rem;
   color: rgb(95, 58, 2);
   font-weight: bold;
   font-size: 16px;
 }
 .breadcrumb a {
   color: yellow;
   }
   .breadcrumb a:hover {
    color:orange;
    text-decoration: none;
    }
