
<div class="animated fadeIn">
  <div class="pagelabel">
    <div class="row" style="margin-bottom: 2px;">
      <div class="col-sm-6">
        <ol class="pagetitle" style="margin-bottom: 0rem;">Application Right Groups</ol>
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-2">

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="shadow">
        <form #rightGroupForm="ngForm" (ngSubmit)="saveRightGroup()">

            <table>
              <thead>
                <tr>
                  <th>Application</th>
                  <th>Parent Group</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <select id="appCode" name="appCode" class="form-control" [(ngModel)]="model.appCode" (change)="loadRightGroups()" >
                      <option value="all">- All -</option>
                      <option *ngFor="let app of applications" [value]="app.code"
                      >{{app.appName}}</option>
                    </select>
                  </td>
                  <td>
                    <select id="parentGroupId" name="parentGroupId" class="form-control" [(ngModel)]="model.parentGroupId" >
                      <option value="all">- Parent -</option>
                      <option *ngFor="let group of rightGroups" [value]="group.id"
                      >{{group.groupName}}</option>
                    </select>
                  </td>
                  <td>
                    <input type="text" id="groupName" name="groupName" [(ngModel)]="model.groupName"
                    class="form-control" placeholder="" required />
                  </td>
                  <td>
                    <input type="text" id="description" name="description" [(ngModel)]="model.description"
                    class="form-control" placeholder="" required />
                  </td>
                  <td>
                    <button type="submit" [disabled]="!rightGroupForm.valid" class="btn btn-primary" > সংরক্ষন </button>
                    <button type="button" *ngIf="model.code" [disabled]="!rightGroupForm.valid" class="btn btn-light" (click)="model = {}" > বাতিল </button>
                  </td>
                </tr>
              </tbody>
            </table>

        </form>
      </div>
  </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12" >
    <p-table [value]="rightGroups"  styleClass="p-datatable-sm p-datatable-striped">
      <ng-template pTemplate="header">
          <tr>
            <th>Application</th>
            <th>Parent Group</th>
            <th>Group Name</th>
            <th>Description</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rightGroup>
          <tr>
            <td>{{rightGroup.appName}}</td>
            <td>{{rightGroup.parentGroupName}}</td>
            <td>{{rightGroup.groupName}}</td>
            <td>{{rightGroup.description}}</td>
          </tr>
      </ng-template>
  </p-table>
  </div>
</div>
